.contact-us-section {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .contact-us-section .contact-wrapper {
    flex-wrap: wrap;
  }
}
.contact-us-section .contact-info {
  width: 290px;
}
@media screen and (max-width: 767px) {
  .contact-us-section .contact-info {
    width: 100%;
    text-align: start;
  }
}
.contact-us-section .form {
  max-width: 765px;
}
.contact-us-section form {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .contact-us-section form {
    padding: 55px 20px 30px;
  }
}
.contact-us-section form h1 span {
  color: #ff5400;
}
.contact-us-section input,
.contact-us-section textarea {
  vertical-align: top;
  outline: 0;
  caret-color: #ff5400;
  color: #fff;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
}
.contact-us-section input::placeholder {
  color: #bcbcbc;
}
.contact-us-section textarea {
  resize: none;
}
.contact-us-section textarea::placeholder {
  color: #bcbcbc;
}
.contact-us-section form a {
  vertical-align: top;
  background-color: #ff5400;
  color: #fff;
  border: 1px solid transparent !important;
}
.contact-us-section form a:hover {
  background: rgb(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #6c6a6a !important;
}
.contact-us-section .contact-info .contact-details .icon-box {
  width: 50px;
  height: 50px;
  color: #ffffff;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
}
.contact-us-section .contact-info .contact-details li:not(:first-of-type) {
  margin-top: 20px;
}
.contact-us-section .contact-info .contact-details .right span {
  color: #bcbcbc;
  font-size: 14px;
}
.contact-us-section .contact-info .contact-details .right h4 {
  color: #ffffff;
}
.contact-us-section .contact-info h3 {
  color: #ff5400;
}
.contact-us-section .contact-info .social-links li a {
  width: 60px;
  height: 60px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
}
.contact-us-section .contact-info .social-links li a svg {
  font-size: 23px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  color: #fff;
}
.contact-us-section .contact-info .social-links li a:hover svg {
  color: #ff5400;
}
