.cart-section {
  padding: 100px 0;
  color: #fff;
}
.cart-section .shopping-cart {
  border-top: 1px solid #bcbcbc;
}
.cart-section .shopping-cart .cart-item {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.01)
  );
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 576px) {
  .cart-section .shopping-cart .cart-item .about-item {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .cart-section .shopping-cart .cart-item .content-item {
    flex-direction: column;
  }
}
.cart-section .shopping-cart .cart-item .image-box img {
  width: 130px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 576px) {
  .cart-section .shopping-cart .cart-item .info-item .product-name {
    flex-direction: column;
  }
  .cart-section .shopping-cart .cart-item .image-box img {
    width: 100%;
  }
}
.cart-section .shopping-cart .cart-item .info-item .product-name a {
  width: 220px;
}
.cart-section .shopping-cart .product-name .product-option {
  font-size: 13px;
}
.cart-section .shopping-cart .product-name span:first-of-type {
  color: #bcbcbc;
}
.cart-item .product-name .curr-price {
  font-size: 18px;
  color: #ff5400;
}
.cart-item .product-name .old-price {
  color: #bcbcbc;
}
.cart-section .shopping-cart .quantity .quantity-form {
  background: linear-gradient(
    153.32deg,
    rgba(255, 255, 255, 0.3) -65.62%,
    rgba(255, 255, 255, 0.1) 83.28%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.cart-section .shopping-cart .quantity .quantity-form input {
  outline: none;
  width: 45px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}
.cart-section .shopping-cart .quantity .quantity-form .minus,
.cart-section .shopping-cart .quantity .quantity-form .plus {
  cursor: pointer;
  color: #fff;
  width: 2rem;
  outline: none;
  background-color: transparent;
  color: #ff5400;
}
@media screen and (max-width: 576px) {
  .cart-item .right-area {
    flex-direction: row !important;
  }
}
.cart-item .right-area .delete-item {
  width: 15px;
  height: 11px;
  cursor: pointer;
}
.cart-item .right-area .delete-item::before,
.cart-item .right-area .delete-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.cart-item .right-area .delete-item::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.cart-item .right-area .delete-item::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.cart-item .right-area .delete-item:hover::before,
.cart-item .right-area .delete-item:hover::after {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.cart-item .right-area .total {
  color: #ff5400;
  font-size: 20px;
}
@media (max-width: 567px) {
  .main-cart-items .foot-area {
    flex-wrap: wrap;
    gap: 20px;
  }
  .main-cart-items .foot-area .left a,
  .main-cart-items .foot-area .right a {
    width: 100%;
  }
}
.main-cart-items .foot-area .left a {
  background-color: #ff5400;
  padding: 12px 0;
}
.main-cart-items .foot-area .right a {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 12px 0;
}
.main-cart-items .foot-area .left a,
.main-cart-items .foot-area .right a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid transparent !important;
}
.main-cart-items .foot-area .left a:hover,
.main-cart-items .foot-area .right a:hover {
  background: rgb(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #6c6a6a !important;
}
@media (max-width: 567px) {
  .main-cart-items .foot-area {
    flex-wrap: wrap;
    gap: 20px;
  }
  .main-cart-items .foot-area .left,
  .main-cart-items .foot-area .right {
    width: 100%;
  }
  .main-cart-items .foot-area .left a,
  .main-cart-items .foot-area .right a {
    text-align: center;
  }
}
.cart-note textarea {
  min-height: 100px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
  height: 145px;
  resize: none;
  outline: none;
  caret-color: #ff5400;
}
.cart-note textarea::placeholder {
  font-size: 15px;
  color: #bcbcbc;
}
.cart-section .main-cart-footer .cart-total {
  background: rgb(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.cart-section .main-cart-footer .cart-total .coupon-form {
  border-top: 1px solid #bcbcbc;
}
.cart-section .main-cart-footer .cart-total .coupon-form input {
  width: 80%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  outline: none;
  padding: 7px 10px;
  caret-color: #ff5400;
  color: #fff;
}
.cart-section .main-cart-footer .cart-total .coupon-form a {
  background: #ff5400;
  color: #fff;
  padding: 7px 10px;
  border: 1px solid transparent !important;
}
.cart-section .main-cart-footer .cart-total .coupon-form input::placeholder {
  color: #fff;
}
.cart-section .info-checkout {
  border-top: 1px solid #bcbcbc;
}
.cart-section .cart__shipping_note {
  border-top: 1px solid #bcbcbc;
}
.cart-section .main-cart-footer .cart-total .group-button a {
  background: #ff5400;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 15px 0;
  border: 1px solid transparent !important;
}
.cart-section .main-cart-footer .cart-total .coupon-form a:hover,
.cart-section .main-cart-footer .cart-total .group-button a:hover {
  background: rgb(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #6c6a6a !important;
}
