.products-fullwidth .content .collection-section .products {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media (max-width: 1200px) {
  .products-fullwidth .content .collection-section .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .products-fullwidth .content .collection-section .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .products-fullwidth .content .collection-section .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .products-fullwidth .sidebar-top:not(.filter-small-media) .filter-collapse {
    height: auto !important;
  }
  .products-fullwidth .product-filter .filter-fullwidth-title {
    display: none !important;
  }
  .products-fullwidth .product-filter .filter-title-mobile {
    display: block !important;
    color: #fff;
    padding: 8px 20px;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.18),
      rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
  }
  .products-fullwidth .filter-title-mobile.active {
    background-color: #ff5400;
  }
}
@media (max-width: 400px) {
  .products-fullwidth .product-filter .filter-fullwidth-title {
    flex: 1;
    margin: 0 !important;
  }
}
.products-fullwidth .product-filter .top-control .filter-title {
  display: none !important;
}
@media (max-width: 991px) {
  .products-fullwidth .product-filter .filter-fullwidth-title {
    display: block !important;
  }
  .products-fullwidth .product-filter .filter-title-mobile {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .products-fullwidth .product-filter {
    flex-wrap: wrap;
  }
}
.products-fullwidth .top-control {
  flex: 1;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .products-fullwidth .top-control {
    flex: 0 0 auto;
  }
}
@media (max-width: 400px) {
  .products-fullwidth .top-control {
    flex: auto;
  }
}
@media (max-width: 767px) {
  .products-fullwidth .top-control {
    flex: 0 0 auto;
  }
}
.products-fullwidth .top-control .control {
  flex: 1;
}
.products-fullwidth .filter-fullwidth-title {
  color: #fff;
  padding: 8px 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  user-select: none;
}
.products-fullwidth .filter-fullwidth-title.active {
  background-color: #ff5400;
}
.products-fullwidth .box-filter {
  flex: 1;
  margin-bottom: 40px;
}
.products-fullwidth .box-filter .filter-collapse {
  padding: 0 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media (min-width: 992px) {
  .products-fullwidth .box-filter .filter-collapse {
    height: auto !important;
  }
}
.products-fullwidth .sidebar-top {
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.products-fullwidth .sidebar-top .close_filter {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.products-fullwidth .sidebar-top .close_filter {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}
.products-fullwidth .sidebar-top .close_filter::after,
.products-fullwidth .sidebar-top .close_filter::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.products-fullwidth .sidebar-top .close_filter::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
@media (min-width: 992px) {
  .products-fullwidth .sidebar-top.filter-small-media {
    display: none;
  }
}
@media (max-width: 991px) {
  .products-fullwidth .sidebar-top:not(.filter-small-media) {
    display: none;
  }
  .products-fullwidth .sidebar-top.filter-small-media .headerFilter {
    background-color: #ff5400;
  }
  .products-fullwidth .sidebar-top.filter-small-media {
    position: fixed;
    left: 0;
    width: 400px;
    max-width: 100%;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: linear-gradient(
      153.32deg,
      rgba(255, 255, 255, 0.3) -65.62%,
      rgba(255, 255, 255, 0.1) 83.28%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    opacity: 0;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    height: 100%;
  }
  .products-fullwidth .sidebar-top.filter-small-media::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #161829;
    z-index: -1;
    opacity: 0.1;
  }
  .products-fullwidth .sidebar-top.filter-small-media .content-sidebar {
    margin-top: 60px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    overflow-y: auto;
    max-height: 900px;
    display: block !important;
  }
  .products-fullwidth .sidebar-top.filter-small-media .box-filter {
    margin-bottom: 15px !important;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .products-fullwidth .sidebar-top.filter-small-media .box-filter .name {
    cursor: pointer;
  }
  .products-fullwidth .sidebar-top.filter-small-media .box-filter:last-of-type {
    margin-bottom: 30px !important;
  }
  .products-fullwidth .sidebar-top.filter-small-media.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}
.products-fullwidth .content-sidebar .name {
  color: #fff;
  line-height: 25px;
  padding: 8px 20px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
