.featured-section {
  padding: 100px 0;
}
.featured-section .container-xl {
  overflow: hidden;
  z-index: 2;
}
.featured-section::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 200px;
  left: 150px;
  box-shadow: 100px 100px 400px 150px #ff5400;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.featured-section::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 300px;
  right: 350px;
  box-shadow: 100px 100px 400px 150px #ff5400;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.featured-section .title-content {
  color: #fff;
}
.featured-section .title-content > a {
  width: 150px;
  max-width: 100%;
  background-color: #ff5400;
  border: 1px solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.featured-section .title-content > a:hover {
  background: rgb(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #6c6a6a !important;
}
@media (max-width: 576px) {
  .featured-section .title-content > a {
    margin-top: 10px;
  }
}
.featured-section .title-content strong {
  position: relative;
}
@media screen and (max-width: 650px) {
  .featured-section .title-content strong {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .featured-section .title-content strong {
    width: 100%;
    text-align: start;
  }
}
.featured-section .block-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 18px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  cursor: auto;
}
.featured-section .block-content.no-transition {
  scroll-behavior: smooth;
}
.featured-section .block-content.dragging {
  scroll-behavior: smooth;
}
.featured-section .block-content.dragging .product-item {
  cursor: grab;
}
.featured-section .block-content .product-item {
  user-select: none;
  cursor: default;
}
.featured-section .block-content::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 992px) {
  .featured-section .block-content {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 768px) {
  .featured-section .block-content {
    grid-auto-columns: 100%;
  }
}
.featured-section .product-item {
  overflow: hidden;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  scroll-snap-align: start;
  cursor: pointer;
}
@media (max-width: 768px) {
  .product-item {
    width: 100%;
  }
}
.featured-section .product-item .product-image {
  overflow: hidden;
  user-select: none;
}
.featured-section .product-item .product-image img {
  object-fit: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.featured-section .product-item:hover .product-image img {
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}
.featured-section .product-item {
  text-align: start;
  color: #fff;
}
.featured-section .btn {
  width: 150px;
  background-color: #ff5400;
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  padding: 10px 19px 9px 19px;
  border: 1px solid #ff5400;
}
@media screen and (max-width: 600px) {
  .featured-section .btn {
    width: 120px;
    font-size: 15px;
    padding: 8px 16px 7px 16px;
  }
}
@media screen and (max-width: 350px) {
  .featured-section .btn {
    width: 100%;
    margin-top: 10px;
  }
}
.featured-section .btn:hover {
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #6c6a6a;
}
.featured-section .product-item .description-product {
  font-size: 14px;
  color: #a3a7aa;
}
.featured-section
  .product-item
  .product-info
  .description
  .rigth-side
  .price-product {
  color: #ff5400;
}
.featured-section
  .product-item
  .product-info
  .description
  .rigth-side
  .reviews
  .starts
  svg {
  color: #ff5400;
}
.featured-section
  .product-item
  .product-info
  .description
  .rigth-side
  .reviews
  .text-reviews {
  font-size: 13px;
}
.featured-section
  .product-item
  .product-info
  .description
  .left-side
  .add-to-cart {
  width: 40px;
  height: 40px;
  background-color: #ff5400;
  border: 1px solid #ff5400;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.featured-section
  .product-item
  .product-info
  .description
  .left-side
  .add-to-cart:hover {
  background-color: transparent;
  border: 1px solid #6c6a6a;
}
.featured-section .product-item .product-hover {
  top: 10px;
  right: 10px;
}
.featured-section .product-item .product-hover button:first-of-type {
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  color: #fff;
  border: 1px solid #6c6a6a;
  width: 35px;
  height: 35px;
  outline: none;
  right: -50px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.featured-section .product-item .product-hover button:first-of-type:hover {
  background-color: #ff5400;
  border: 1px solid #ff5400;
}
.featured-section .product-item:hover .product-hover button:first-of-type {
  opacity: 1 !important;
  right: 0;
}
.wrapper .arrow-back,
.wrapper .arrow-forward {
  background-color: #ff5400;
  border: 1px solid #ff5400;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 3;
  visibility: hidden;
  transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -o-transform: translateY(-50%) scale(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.wrapper .arrow-back::before,
.wrapper .arrow-forward::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 2px;
  background-color: #fff;
  transform: translateY(5px) rotate(-45deg);
  -webkit-transform: translateY(5px) rotate(-45deg);
  -moz-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  -o-transform: translateY(5px) rotate(-45deg);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.wrapper .arrow-back::before {
  transform: translateY(5px) rotate(45deg);
  -webkit-transform: translateY(5px) rotate(45deg);
  -moz-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
}
.wrapper .arrow-back::after,
.wrapper .arrow-forward::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-5px) rotate(45deg);
  -webkit-transform: translateY(-5px) rotate(45deg);
  -moz-transform: translateY(-5px) rotate(45deg);
  -ms-transform: translateY(-5px) rotate(45deg);
  -o-transform: translateY(-5px) rotate(45deg);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.wrapper .arrow-back::after {
  transform: translateY(-5px) rotate(-45deg);
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
}
.wrapper:hover .arrow-back,
.wrapper:hover .arrow-forward {
  opacity: 1 !important;
  visibility: visible;
  transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
}
.wrapper .arrow-back:hover,
.wrapper .arrow-forward:hover {
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #6c6a6a;
}
.wrapper .arrow-back {
  left: -10px;
}
.wrapper .arrow-forward {
  right: -10px;
}
