.login-section {
  color: #fff;
}
.login-section form {
  width: 765px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.login-section input {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.01)
  );
  color: #fff;
  outline: none;
  caret-color: #ff5400;
}
.login-section label {
  margin-bottom: 5px;
}
.login-section input::placeholder {
  font-size: 15px;
  color: #fff;
}
.login-section form button {
  background-color: #ff5400;
  color: #fff;
}
